APP_NAME="Šaha Analīzes Platforma"
APP_ENV=local
APP_KEY=base64:82lAANNnh4KuokwFBAIAyYwCJu8bxLLN3RZLtLEpRsE=
APP_DEBUG=true
APP_URL=http://localhost:80
FRONTEND_URL=http://localhost:3000

APP_LOCALE=lv
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=chess_platform
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"
VITE_API_URL=http://localhost:80/api

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
[email protected]
MAIL_FROM_NAME="${APP_NAME}"
