# Auto detect text files and perform LF normalization
* text=auto

# Track large binary files with Git LFS
public/stockfish.wasm filter=lfs diff=lfs merge=lfs -text
public/stockfish.js filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
