@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark theme defaults on the entire document */
:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #302E2B; /* Background Color */
  color: #e5e5e5; /* Text Color */
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Fix Chrome Autofill turning background white */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1E1D1B inset !important;
    -webkit-text-fill-color: white !important;
}